:root {
  --base: #EB725B;
  --spacing: 50px;
  --blur: 0px;
}

body {
  height: 100vph;
  width: 100%;
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.imageOutter {
  transition: all 0.05s;
  background: var(--base);
  text-align: center;
  padding: var(--spacing);
  width: 600px;
  height: 400px;
  margin: 10px auto;
}

img {
  height:400px;
  width: 600px;
  filter: blur(var(--blur));
}

#jsSpan {
  color: var(--base);
}